@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

/** basic styles**/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #23272d;
}

/** Header **/

header {
    background-color: #222;
    display: flex; 
    justify-content: center;
    height: 90px;
    padding: 30px 20px;
}

header h2 {
    padding: 1rem;
    color: aqua;
    font-weight: 700;
    margin: 0;
}

header .title {
    display: flex;
    align-items: center;
   
}

header .nicks {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

header a {
    padding:0.5rem;
    text-align: center;
    color: aqua;
    text-decoration: none;
}

/** Content of the page **/
section {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

article {
    text-align: center;
    margin: 1rem;
}

h1 {
    font-size: 2rem;
    padding: 0.5rem;
}

p {
    padding: 0.5rem;
}

/** For the form from the main page **/

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
}

form label {
    padding: 0.5rem;
}

form input {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    border: none;
}

form input::placeholder {
    text-align: center;
    padding: 0.8rem;
}

form button {
    width: 32.5%;
    margin: 0 auto;
    height: 35px;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;

}

.alerts {
    color: aqua;
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
}

footer {
    display: flex;
    background-color: #222;
    justify-content: center;
    height: 100%;
}

/* Main content of the pages*/
.title-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
}

.title-two h2 {
    color: aqua;
    padding: 1rem;
}

.title-two p {
    margin-bottom: 1rem;
}

.admin {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    font-weight: 700;
}

.admin .info {
    width: 100%;
    border: 0.5px solid white;
    border-collapse: collapse;
}

.info th  {
    padding: 1rem;
    border: 0.5px solid white;
}

.info button {
    border: none;
    border-radius: 5px;
    width: 60%;
    cursor: pointer;
    height: 40px;
}

/** Buttons for reuse **/

.create-btn {
    background-color: #28a745;
    color: white;

}

.read-btn {
    background-color: #007bff;
    color: white;
}

.up-btn {
    background-color: #17a2b8;
    color: white;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
}

/** Styles for all crud pages **/

.create-query {
    width: 60%;
    margin-top: 1rem;
    margin: 0 auto;
    border:none;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}

.create-query a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
}

/* For small devices*/
@media (max-width: 900px) {
    form input {
        width: 30%;
    }

    form button {
        width: 10%;
        margin-top: 1rem;
    }
}
